.progress-bar{

}

.progress{
    width: 50%;
    text-align: center;
    margin: auto;
    position: fixed;
    z-index: 80000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.preload{
    position: fixed;
    margin: auto;
    padding: 0px;
    z-index: 8000;
}
main{display: none}
