.progress-bar{

}

.progress{
    width: 50%;
    text-align: center;
    margin: auto;
    position: fixed;
    z-index: 80000;
    left: 0;
    right: 0;

    bottom: 10px;
}
.preload{
    position: fixed;
    margin: auto;
    padding: 0;
    z-index: 8000;
}
main{display: none}
